@import "_variables";

.about {
  &__message {
    width: $--content-width-sm;
    margin: 40px auto;
  }

  &__messageHeadline {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 6px;
  }

  &__messageContents {
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 40px auto 0;

    img {
      width: 464px;
    }
  }

  &__messageText {
    width: 464px;
    margin: 0 0 0 40px;
    font-weight: 700;
    font-feature-settings: "palt";
  }

  &__messageLead {
    margin: 12px 0 0;
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: 3px;
  }

  &__messageContent {
    margin: 24px 0 0;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
  }

  &__messageCeoName {
    display: block;
    margin: 40px 0 0;
    font-size: 15px;
    letter-spacing: 2px;
  }

  &__service {
    position: relative;
    margin: 88px 0 0;
  }

  &__servicePicture {
    position: absolute;
    z-index: -1;
  }

  &__headline {
    padding: 60px 0 0;
    margin: 0;
    font-size: 50px;
    font-style: italic;
    color: $white;
    text-align: center;
    letter-spacing: 5px;

    &.-history {
      margin: 0 0 72px;
    }
  }

  &__serviceList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $--content-width-sm;
    padding: 80px 80px 0;
    margin: 64px auto;
    counter-reset: service-num 0;
    background-color: $white;
    box-shadow: 0px 0px 13.14px 4.86px rgba(0, 0, 0, 0.1);
  }

  &__serviceItem {
    position: relative;
    width: 44%;
    margin: 0 0 132px;

    &:nth-last-child(2),
    &:last-child {
      margin: 0 0 64px;
    }
  }

  &__serviceIcon {
    text-align: center;

    svg {
      width: 220px;
    }
  }

  &__serviceHeadline {
    position: absolute;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: italic;
  }

  &__serviceHeadlineNumWrapper {
    display: block;
    margin-bottom: -4px;
    line-height: 1.5;
  }

  &__serviceHeadlineNum,
  &__serviceHeadlineName {
    padding: 1px 6px;
    font-size: 18px;
    line-height: 1;
    color: $white;
    letter-spacing: 2px;
    background-color: $black;
  }

  &__serviceSubHeadline {
    margin: 16px 0 0;
    font-size: 20px;
    text-align: center;
    letter-spacing: 4px;
  }

  &__serviceParagraph {
    margin: 20px 0 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
  }

  &__company {
    padding: 12px 0 360px;
    background-color: $black;
  }

  &__companyHeadline {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    font-style: italic;
    color: $white;
    letter-spacing: 5px;
  }

  .labelValue {
    background-color: #1a1a1a;

    &__row {
      &:first-of-type {
        margin: 24px 0 0;
      }
    }

    &__label {
      color: $black;
      background-color: $white;
    }

    &__value {
      color: $white;
      letter-spacing: 2px;
    }
  }

  &__clientList {
    margin: 0;
  }

  &__clientItem {
    &::before {
      content: "・";
    }
  }

  &__history {
    margin: -336px 0 0;
  }

  &__historyImage {
    display: block;
    text-align: center;

    img {
      width: $--content-width-sm;
    }
  }

  &__historyParagraph {
    width: $--content-width-sm;
    padding: 0 100px;
    margin: 40px auto 0;
    font-weight: 700;
    line-height: 2;
  }

  &__historyYearBlock {
    width: $--content-width-sm;
    margin: 0 auto;
  }

  &__historyYear {
    position: relative;
    z-index: 10;
    padding: 24px 0 24px 32px;
    margin: 48px 48px 0;
    font-size: 15px;
    font-weight: 700;
    color: $white;
    letter-spacing: 1px;
    background-color: $black;

    &::after {
      position: absolute;
      top: 50%;
      right: 36px;
      width: 14px;
      height: 19px;
      content: "";
      background-image: url(assets/img/icons/icon_angle.png);
      background-size: cover;
      transition: all 0.2s;
      transform: translateY(-50%) rotate(90deg);
    }

    &:hover {
      cursor: pointer;
    }

    &.-opened {
      &::after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &__historyContents {
    display: none;
    width: $--content-width-sm;
    padding: 0 96px;
    margin: 12px auto 0;

    dl {
      display: flex;
      padding: 26px 0 26px 6px;
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      letter-spacing: 1px;
      border-bottom: 1px solid $black;
    }

    dt {
      min-width: 36px;
    }

    dd {
      margin-left: 112px;
      line-height: 2;
    }
  }

  &__contact {
    padding-top: 12px;
    margin-top: -12px;
  }

  &__contactInner {
    width: $--content-width-sm;
    margin: 88px auto 148px;
    background-color: $black;
    box-shadow: 0px 0px 13.14px 4.86px rgba(0, 0, 0, 0.1);
  }
}

@include mq(mobile) {
  .about {
    &__message {
      width: 100%;
      padding: 0 16px;
      margin: 32px auto;
    }

    &__messageHeadline {
      font-size: 32px;
      letter-spacing: 5px;
    }

    &__messageContents {
      flex-direction: column;
      padding: 0;
      margin: 16px auto 0;

      img {
        width: 76%;
      }
    }

    &__messageLead {
      margin: 24px 0 0;
      font-size: 18px;
      letter-spacing: 2px;
    }

    &__messageText {
      width: 100%;
      margin: 0;
      font-size: 18px;
    }

    &__messageContent {
      margin: 20px 0 0;
      font-size: 14px;
      text-align: justify;
    }

    &__messageCeoName {
      margin: 32px 0 0;
      font-size: 14px;
    }

    &__service {
      margin: 64px 0 0;
    }

    &__headline {
      padding: 32px 0 0;
      font-size: 32px;
      letter-spacing: 4px;

      &.-history {
        margin: 0 0 32px;
      }
    }

    &__servicePicture {
      img {
        height: 180px;
        object-fit: cover;
      }
    }

    &__serviceList {
      flex-direction: column;
      align-items: center;
      width: 92%;
      padding: 64px 24px 0;
      margin: 32px auto;
    }

    &__serviceItem {
      width: 100%;
      margin: 0 0 64px;
    }

    &__serviceIcon {
      svg {
        width: 168px;
      }
    }

    &__serviceHeadline {
      top: -16px;
    }

    &__serviceHeadlineNum,
    &__serviceHeadlineName {
      font-size: 16px;
    }

    &__serviceSubHeadline {
      margin: 12px 0 0;
      font-size: 18px;
      letter-spacing: 2px;
    }

    &__serviceParagraph {
      font-size: 14px;
      text-align: justify;
    }

    &__companyHeadline {
      font-size: 32px;
    }

    &__company {
      padding: 12px 0 240px;
    }

    &__clientItem {
      padding-left: 1em;
      text-indent: -1em;
    }

    &__history {
      margin: -224px 0 0;
    }

    &__historyImage {
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }
    }

    &__historyParagraph {
      width: 100%;
      padding: 0 40px;
      margin: 24px auto 0;
      line-height: 1.9;
      text-align: justify;
    }

    &__historyYearBlock {
      width: 92%;
      margin: 40px auto 0;
    }

    &__historyYear {
      padding: 16px 0 16px 24px;
      margin: 40px 0 0;

      &::after {
        right: 32px;
        width: 12px;
        height: 16px;
      }
    }

    &__historyContents {
      width: 100%;
      padding: 0 16px;

      dl {
        flex-direction: column;
        padding: 20px 0 20px 6px;
      }

      dd {
        margin: 6px 0 0;
        line-height: 1.9;
      }
    }

    &__contactInner {
      width: 100%;
      margin: 64px auto 106px;
    }
  }
}
