@import "_variables";

.works {
  &__gallery {
    margin: 0 auto;
  }

  &__categories {
    margin: 64px 0 8px;
    font-family: "Bebas Neue", cursive;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;

    a {
      margin: 0 16px;
      color: $black;
    }
  }

  &__category {
    padding-top: 84px;
    margin: -44px 0 40px;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
  }

  &__listWrapper {
    margin: 32px 0 72px;
  }

  &__list {
    display: grid;
    margin: 0;

    &.-horizontal {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: clamp(183px, 16.66vw, 1000px);
    }

    &.-vertical {
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: clamp(229px, 20.84vw, 1000px);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__detailInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black, $alpha: 0.7);
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &__title {
    padding: 2px 12px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 18px;
    line-height: 1;
    color: $black;
    text-align: center;
    background-color: $white;
  }

  &__client {
    display: block;
    width: 92%;
    margin: 6px auto 0;
    font-size: 12px;
    font-weight: 600;
    color: $white;
    text-align: center;
  }

  &__thumbnailLink {
    position: relative;
    height: 100%;

    &:hover {
      opacity: 1;
    }
  }

  &__paragraph {
    margin: 40px 0 80px;
    font-family: "Bebas Neue", cursive;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
  }
}

@include mq(mobile) {
  .works {
    &__categories {
      margin: 40px 0 44px;
      font-size: 15px;
      line-height: 2;

      a {
        margin: 0 8px;
      }
    }

    &__category {
      padding-top: 58px;
      margin: -26px 0 24px;
      font-size: 24px;
    }

    &__listWrapper {
      margin: 24px 0 64px;
    }

    &__list {
      &.-horizontal {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 25vw;
      }

      &.-vertical {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 31.24vw;
      }
    }

    &__paragraph {
      margin: 32px 0 64px;
      font-size: 18px;
    }
  }
}
