@import "_variables";

.contactButton {
  position: relative;
  z-index: 10;
  display: block;
  max-width: $--content-width-sm;
  padding: 22px 0 22px 48px;
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: $white;
  letter-spacing: 6px;
  background-color: #1a1a1a;

  &__icon {
    position: absolute;
    top: 50%;
    right: 64px;
    height: 64px;
    transform: translateY(-50%);

    img {
      width: 36px;
    }
  }
}

.footer {
  padding: 120px 0 80px;
  margin: -60px 0 0;
  background-color: $black;

  &__logo {
    display: block;
    text-align: center;

    img {
      width: 375px;
      height: auto;
    }
  }

  &__links {
    margin: 40px 0 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;

    ul {
      margin: 0;
    }

    .menu-item {
      display: flex;
      justify-content: center;
    }

    a {
      color: $white;
    }
  }

  .globalSns {
    margin: 30px 0 0;

    svg {
      width: 20px;
      margin: 0 12px;
    }
  }

  .menu {
    justify-content: center;
  }

  &__copyrightWrapper {
    margin: 48px 0 0;
    text-align: center;
  }

  &__copyright {
    font-family: "Ubuntu", sans-serif;
    color: $white;
    letter-spacing: 2px;
  }
}
