@import "_variables";

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 0 40px;
  margin: 32px auto 0;

  .custom-logo {
    width: 240px;
    height: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-family: "Ubuntu", sans-serif;
      font-size: 17px;
      font-style: italic;
      font-weight: 600;
      color: $white;
      letter-spacing: 4px;
    }
  }

  .globalSns {
    svg {
      width: 20px;
      margin: 0 12px;
    }
  }
}
