@import "_variables";

.globalSns {
  display: flex;
  justify-content: center;
  max-height: 20px;

  &Link {
    display: inline-flex;
  }
}

.custom-logo-link:hover {
  opacity: 1;
}

.menu-menu-1-container {
  .menu {
    display: flex;
    margin: 0 32px;

    & > li {
      &:not(:first-child) {
        margin: 0 0 0 40px;
      }
    }
  }
}

.page__title {
  position: relative;
  max-width: $--content-width-sm;
  padding: 12px 0 12px 24px;
  margin: -38px auto 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: $white;
  letter-spacing: 6px;
  background-color: $black;
}

.divider {
  max-width: $--content-width-sm;
}

.related {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 260px;
    grid-row-gap: 40px;
    margin: 32px 0 88px;
  }

  &__itemInner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: 100%;
      box-shadow: 0px 0px 13.14px 4.86px rgba(0, 0, 0, 0.1);
      object-fit: cover;
    }
  }

  &__thumbnail {
    display: flex;
    align-items: center;
    height: 200px;
    object-fit: cover;
    background-color: $black;
  }

  &__title,
  &__category {
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    color: $black;
    letter-spacing: 1px;
  }

  &__title {
    margin: 12px 0 0;
  }
}

.labelValue {
  width: $--content-width-sm;
  padding: 40px 48px 56px;
  margin: 80px auto 0;
  border: 1px solid $black;

  &__row {
    display: flex;
    align-items: flex-start;

    &:first-of-type {
      margin: 48px 0 0;
    }

    &:not(:first-of-type) {
      margin: 40px 0 0;
    }
  }

  &__label {
    min-width: 300px;
    margin: 6px 0 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 1;
    color: $white;
    letter-spacing: 2px;
    background-color: $black;
  }

  &__value {
    margin: 0 0 0 56px;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1px;
  }
}

.wpcf7 {
  margin: 48px auto 0;
}

.wpcf7-form {
  padding: 0 100px 80px;
}

span.wpcf7-list-item {
  margin: 2px 0;
  font-size: 15px;
  font-weight: 700;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.wpcf7-list-item-label {
  color: $white;
  letter-spacing: 1px;
}

.wpcf7-form-control-wrap,
select,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  font-size: 15px;
  border: none;
}

select,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 12px 0 12px 12px;

  &::placeholder {
    color: #777777;
  }
}

.wpcf7 form .wpcf7-response-output {
  padding: 12px;
  color: $white;
}

.form {
  &__itemWrapper {
    &:not(:first-of-type) {
      margin: 30px 0 0;
    }
  }

  &__item {
    display: flex;

    &.-verticalCenter {
      align-items: center;
    }
  }

  &__headline {
    min-width: 21%;
    font-weight: 700;
    color: $white;
    letter-spacing: 2px;
  }

  &__submit {
    margin: 48px 0 0;
    text-align: center;

    input {
      padding: 14px 60px;
      font-size: 16px;
      font-weight: 700;
      color: $white;
      text-indent: 24px;
      letter-spacing: 24px;
      background-color: transparent;
      border: 1px solid $white;
      transition: 0.2s;

      &:hover {
        color: $black;
        cursor: pointer;
        background-color: $white;
      }
    }
  }
}

@include mq(mobile) {
  .menu-menu-1-container {
    .menu {
      flex-wrap: wrap;
      margin: 0 16px;

      & > li:not(:first-child) {
        margin: 0 0 0 20px;
      }
    }
  }

  .page__title {
    width: 92%;
    padding: 8px 0 8px 18px;
    font-size: 22px;
    letter-spacing: 4px;
  }

  .labelValue {
    width: 92%;
    padding: 20px 24px 24px;
    margin: 32px auto 0;

    &__row {
      flex-direction: column;

      &:first-of-type {
        margin: 40px 0 0;
      }

      &:not(:first-of-type) {
        margin: 32px 0 0;
      }
    }

    &__label {
      min-width: 100%;
      font-size: 18px;
      letter-spacing: 1px;
    }

    &__value {
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 1.9;
      text-align: justify;
      letter-spacing: 1px;
    }
  }

  .wpcf7 {
    margin: 40px auto 0;
  }

  .wpcf7-form {
    padding: 0 16px 48px;
  }

  .form {
    &__item {
      flex-direction: column;

      &.-verticalCenter {
        align-items: flex-start;
      }
    }

    &__headline {
      min-width: auto;
      margin: 0 0 8px;
    }

    &__submit {
      margin: 40px 0 0;

      input:hover {
        color: $white;
        cursor: auto;
        background-color: transparent;
      }
    }
  }

  select,
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    font-size: 16px;
  }

  .divider {
    width: 92%;
  }

  .related {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 200px;
      margin: 32px auto 40px;
    }

    &__thumbnail {
      height: 124px;
    }

    &__title {
      font-size: 14px;
    }

    &__itemInner {
      img {
        max-height: 100%;
      }
    }
  }
}
