@import "_variables";

.globalSns {
  display: flex;
  justify-content: center;

  &Link {
    display: inline-flex;
  }
}

.menu-menu-1-container {
  .menu {
    display: flex;
    margin: 0 32px;

    & > li {
      &:not(:first-child) {
        margin: 0 0 0 40px;
      }
    }
  }
}
