@import "_variables";

.singleWorks {
  &__movie {
    width: $--content-width-sm;
    margin: 72px auto 0;
  }

  &__movieInner {
    position: relative;
    width: 100%;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__category {
    font-weight: 400;
  }

  &__headline {
    margin: 0 0 40px;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 2px;
  }

  &__link {
    color: $black;
    text-decoration: underline;
  }

  &__photos {
    width: $--content-width-sm;
    margin: 80px auto;

    img {
      &:not(:first-of-type) {
        margin: 32px 0 0;
      }
    }
  }

  &__service {
    padding: 2px 16px;
    font-size: 13px;
    font-weight: 400;
    color: $white;
    background-color: #8c8c8c;

    &:not(:first-of-type) {
      margin-left: 8px;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    margin: 6px 0 0 56px;
  }

  &__profile {
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;

    &:not(:last-of-type) {
      margin-right: 24px;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
  }

  .labelValue {
    .-website {
      margin: 16px 0 0;
    }
  }

  &__name {
    margin: 12px 0 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__position {
    font-family: "Bebas Neue", cursive;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    line-height: 1.5;
  }

  &__related {
    width: $--content-width-sm;
    margin: 0 auto 80px;
  }

  &__divider {
    width: $--content-width-sm;
    margin: 0 auto;
  }

  .yarpp-related h3 {
    margin: 40px 0 0;
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 4px;
  }
}

@include mq(mobile) {
  .singleWorks {
    &__movie {
      width: 92%;
      margin: 40px auto 0;
    }

    &__divider {
      width: 92%;
    }

    &__related {
      width: 92%;
      margin: 0 auto;
    }

    &__headline {
      margin: 0 0 32px;
    }

    &__members {
      justify-content: space-between;
      width: 100%;
      margin: 12px 0 0;
    }

    &__profile {
      width: 46%;

      img {
        width: 100%;
        height: auto;
      }

      &:not(:last-of-type) {
        margin-right: 0;
      }
    }

    &__name {
      margin: 6px 0 0;
    }

    &__photos {
      width: 92%;
      margin: 40px auto 72px;
    }

    .labelValue {
      .-website {
        margin: 8px 0 0;
      }
    }

    .yarpp-related h3 {
      font-size: 24px;
      letter-spacing: 3px;
    }
  }
}
