@import "_variables";

.singlePeople {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: $--content-width-sm;
    margin: 72px auto;

    .attachment-post-thumbnail {
      width: 54%;
      height: auto;
    }
  }

  &__metaData {
    margin: 0 48px 0 0;
  }

  &__personalInfo {
    display: flex;
  }

  &__category {
    padding: 26px 14px;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    color: $white;
    text-align: center;
    letter-spacing: 2px;
    background-color: $gray;
  }

  &__position {
    text-transform: uppercase;
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 30px;
  }

  &__nameKanji {
    margin: 0;
    font-size: 20px;
    letter-spacing: 2px;
  }

  &__position {
    margin: 4px 0 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__contents {
    margin: 32px 0 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    font-feature-settings: "palt";
  }

  &__sns {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;

    svg {
      width: 26px;
    }

    .twitter-path,
    .instagram-path,
    .fb-path {
      fill: $black;
    }

    a {
      display: inline-flex;

      &:not(:first-child) {
        margin-left: 28px;
      }
    }
  }

  &__works {
    width: $--content-width-sm;
    margin: 40px auto 64px;
  }

  &__headline {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
  }
}

@include mq(mobile) {
  .singlePeople {
    &__wrapper {
      flex-direction: column-reverse;
      margin: 40px auto;

      .attachment-post-thumbnail {
        width: 278px;
        margin: 0 auto;
      }
    }

    &__metaData {
      padding: 0 16px;
      margin: 0 auto;
    }

    &__personalInfo {
      justify-content: center;
      width: 278px;
      margin: 24px auto 0;
    }

    &__contents {
      font-size: 14px;
    }

    &__category {
      padding: 24px 12px;
      font-size: 14px;
    }

    &__name {
      margin: 0 0 0 24px;
    }

    &__sns {
      position: relative;
      justify-content: center;
      max-height: 26px;
      margin: 24px 0 0;
    }

    &__works {
      width: 92%;
      margin: 32px auto 64px;
    }

    &__headline {
      font-size: 24px;
    }
  }
}
